@{
    ViewData["Title"] = "Customer Maintenance";
}

<h2>Customer Maintenance</h2>

@if (Model.IsDetailVisible)
{
    <partial name="_CustomerMaintDetail" />
}
else
{
    <partial name="_CustomerMaintSearch" />
    <partial name="_CustomerMaintList" />
}

@section Scripts {
    <script>
        'use strict';

        let pageController = (function () {

            function setSearchValues() {
                mainController.setSearchValues($("#SearchEntity_LastName").val());
            }

            function addValidationRules() {
                $.validator.addMethod("nonumbers", function (value, element) {
                    // this.optional(element): returns true
                    // if element is blank and NOT required
                    return this.optional(element) || /^([^0-9]*)$/.test(value);
                });

                $("form").validate({
                    // The properties in the rules and messages
                    // objects are based on the name= attribute
                    // in the HTML, not the id attribute
                    rules: {
                        "SelectedEntity.FirstName": {
                            nonumbers: true
                        },
                        "SelectedEntity.LastName": {
                            nonumbers: true
                        }
                    },
                    messages: {
                        "SelectedEntity.FirstName": {
                            nonumbers: "First Name may not have any numbers in it"
                        },
                        "SelectedEntity.LastName": {
                            nonumbers: "Last Name may not have any numbers in it"
                        }
                    }
                });
            }

            // Expose public functions from closure
            return {
                "setSearchValues": setSearchValues,
                "setSearchArea": mainController.setSearchArea,
                "isSearchFilledIn": mainController.isSearchFilledIn,
                "addValidationRules": addValidationRules
            }
        })();


        $(document).ready(function () {
            // Add jQuery validation rules
            pageController.addValidationRules();
            // Setup the form submit
            mainController.formSubmit();

            // Collapse search area or not?
            pageController.setSearchValues();
            pageController.setSearchArea();
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
