@{
    ViewData["Title"] = "Promo Code Maintenance";
}

<h2>Promo Code Maintenance</h2>

@if (Model.IsDetailVisible)
{
    <partial name="_PromoCodeDetail" />
}
else
{
    <partial name="_PromoCodeSearch" />
    <partial name="_PromoCodeList" />
}

@section Scripts {
    <script>
        'use strict';

        $(document).ready(function () {
            // Setup the form submit
            mainController.formSubmit();
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
