@{
    ViewData["Title"] = "Product Maintenance";
}

<h2>Product Maintenance</h2>

@if (Model.IsDetailVisible)
{
    <partial name="_ProductDetail" />
}
else
{
    <partial name="_ProductSearch" />
    <partial name="_ProductList" />
}

@section Scripts {
    <script>
        'use strict';

        let pageController = (function () {
            function setSearchValues() {
                let searchValues =
                    $("#SearchEntity_ProductName").val() +
                    $("#SearchEntity_Category").val();

                mainController.setSearchValues(searchValues);
            }

            // Expose public functions from closure
            return {
                "setSearchValues": setSearchValues,
                "setSearchArea": mainController.setSearchArea,
                "isSearchFilledIn": mainController.isSearchFilledIn
            }
        })();


        $(document).ready(function () {
            // Setup the form submit
            mainController.formSubmit();

            // Collapse search area or not?
            pageController.setSearchValues();
            pageController.setSearchArea();
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
